<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/task/spring-context.xsd
						   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
						   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="sr.api" />
	<aop:aspectj-autoproxy />
	<context:property-placeholder
			location="classpath:application.properties,classpath:log4j.properties"/>


	<!-- Spring MVC -->
	<import resource="spring-mvc.xml" />

	<!-- Spring DATA -->
	<import resource="spring-data.xml" />

	<!-- Spring Security -->
	<import resource="spring-security.xml" />

	<!-- Mail Sender -->
	<import resource="mailContext.xml"/>

	<bean id="iBookServiceTest" name="iBookServiceTest" class="org.mockito.Mockito"
		factory-method="mock">
		<constructor-arg value="sr.api.business.service.impl.BookServiceImpl" />
	</bean>

	<!-- Async Support -->
	<task:annotation-driven executor="myExecutor" />
	<task:executor id="myExecutor" pool-size="2"/>

	<bean id="responseAspect" class="sr.api.presentation.aspect.ResponseAspect" />


</beans>